@using Sitecore.Mvc;
@using ilight2019.Project.Website;
@using ilight2019.Foundation.SitecoreExtensions.Extensions;
<!DOCTYPE html>
<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->

<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    @Html.Sitecore().Placeholder("HtmlHead")
    <link rel="stylesheet" href="~/assets/ilight/styles/main.css">
	<script src="@Sitecore.Configuration.Settings.GetSetting("ILightWogaaUrl")"></script>
	<script>
		(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', '@Sitecore.Configuration.Settings.GetSetting("ILightGoogleAnalyticsKey", "UA-1472842-26")', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body class="home  @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <!--[if lt IE 9]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="header">
        @Html.Sitecore().Placeholder("Main Navigation")
    </header>
    <main id="main-content" class="@(Sitecore.Context.Item.IsDerived(Templates.PageType.Home.ID) ? "home" : "")">
        @Html.Sitecore().Placeholder("Content")
    </main>
    @Html.Sitecore().Placeholder("Footer")
    <script src="~/assets/ilight/scripts/main.js"></script>
	<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bdbfb828738db2d"></script>
	<script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>

