@using Sitecore.Mvc;
@using scboilerplate.Project.Website;
@using scboilerplate.Foundation.SitecoreExtensions.Extensions;

<html lang="en">
<head>
    @Html.Sitecore().Placeholder("HtmlHead")
    <!-- meta tags goes here -->
    <!-- styles goes here -->
    <!-- scripts bottom goes here -->
    <!-- analytics top goes here -->
</head>
<body class="@(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">

    @Html.Sitecore().Placeholder("Main Navigation")

    <main role="main" class="container">

        <!-- remove this section -->
        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>

        @Html.Sitecore().Placeholder("Content")

    </main>
    @Html.Sitecore().Placeholder("Footer")
    <!-- scripts bottom goes here -->
    <!-- analytics top goes here -->
</body>
</html>